@font-face {
  font-family: ubunto;
  src: url("../fonts/ubunto.ttf");
}
.font-ubunto, * {
  font-family: ubunto;
}

@font-face {
  font-family: tajawal;
  src: url("../fonts/tajawal.ttf");
}
.font-tajawal {
  font-family: tajawal;
}

@font-face {
  font-family: sspro;
  src: url("../fonts/SourceSansPro.otf");
}
.font-sspro {
  font-family: sspro;
}

@font-face {
  font-family: ptsans;
  src: url("../fonts/PTSans.ttf");
}
.font-ptsans {
  font-family: ptsans;
}

@font-face {
  font-family: opensans;
  src: url("../fonts/OpenSans.ttf");
}
.font-opensans {
  font-family: opensans;
}

@font-face {
  font-family: notosans;
  src: url("../fonts/NotoSans.ttf");
}
.font-notosans {
  font-family: notosans;
}

@font-face {
  font-family: montserrat;
  src: url("../fonts/montserrat.otf");
}
.font-montserrat {
  font-family: montserrat;
}

@font-face {
  font-family: lalezar;
  src: url("../fonts/lalezar.ttf");
}
.font-lalezar {
  font-family: lalezar;
}

@font-face {
  font-family: germaniaone;
  src: url("../fonts/GermaniaOne.ttf");
}
.font-germaniaone {
  font-family: germaniaone;
}

@font-face {
  font-family: lato;
  src: url("../fonts/lato.ttf");
}
.font-lato {
  font-family: lato;
}

@font-face {
  font-family: baloo;
  src: url("../fonts/baloo.ttf");
}
.font-baloo {
  font-family: baloo;
}

@font-face {
  font-family: cairo;
  src: url("../fonts/cairo.ttf");
}
.font-cairo {
  font-family: cairo;
}

.h1 {
  font-size: 2em;
}

.h2 {
  font-size: 1.5em;
}

.h3 {
  font-size: 1.17em;
}

.h4 {
  font-size: 1em;
}

.h5 {
  font-size: 0.83em;
}

.h6 {
  font-size: 0.67em;
}

.marg-0 {
  margin: 0px;
}

.padd-0 {
  padding: 0px;
}

.marg-10 {
  margin: 10px;
}

.padd-10 {
  padding: 10px;
}

.marg-20 {
  margin: 20px;
}

.padd-20 {
  padding: 20px;
}

.marg-30 {
  margin: 30px;
}

.padd-30 {
  padding: 30px;
}

.marg-40 {
  margin: 40px;
}

.padd-40 {
  padding: 40px;
}

.marg-50 {
  margin: 50px;
}

.padd-50 {
  padding: 50px;
}

.marg-60 {
  margin: 60px;
}

.padd-60 {
  padding: 60px;
}

.marg-70 {
  margin: 70px;
}

.padd-70 {
  padding: 70px;
}

.marg-80 {
  margin: 80px;
}

.padd-80 {
  padding: 80px;
}

.marg-90 {
  margin: 90px;
}

.padd-90 {
  padding: 90px;
}

.marg-100 {
  margin: 100px;
}

.padd-100 {
  padding: 100px;
}

.marg-110 {
  margin: 110px;
}

.padd-110 {
  padding: 110px;
}

.marg-120 {
  margin: 120px;
}

.padd-120 {
  padding: 120px;
}

.marg-130 {
  margin: 130px;
}

.padd-130 {
  padding: 130px;
}

.marg-140 {
  margin: 140px;
}

.padd-140 {
  padding: 140px;
}

.marg-150 {
  margin: 150px;
}

.padd-150 {
  padding: 150px;
}

.marg-160 {
  margin: 160px;
}

.padd-160 {
  padding: 160px;
}

.marg-170 {
  margin: 170px;
}

.padd-170 {
  padding: 170px;
}

.marg-180 {
  margin: 180px;
}

.padd-180 {
  padding: 180px;
}

.marg-190 {
  margin: 190px;
}

.padd-190 {
  padding: 190px;
}

.marg-200 {
  margin: 200px;
}

.padd-200 {
  padding: 200px;
}

.marg-210 {
  margin: 210px;
}

.padd-210 {
  padding: 210px;
}

.marg-220 {
  margin: 220px;
}

.padd-220 {
  padding: 220px;
}

.marg-230 {
  margin: 230px;
}

.padd-230 {
  padding: 230px;
}

.marg-240 {
  margin: 240px;
}

.padd-240 {
  padding: 240px;
}

.marg-250 {
  margin: 250px;
}

.padd-250 {
  padding: 250px;
}

.opac-0 {
  opacity: 0.0;
}

.opac-1 {
  opacity: 0.1;
}

.opac-2 {
  opacity: 0.2;
}

.opac-3 {
  opacity: 0.3;
}

.opac-4 {
  opacity: 0.4;
}

.opac-5 {
  opacity: 0.5;
}

.opac-6 {
  opacity: 0.6;
}

.opac-7, .btn-blue:hover, .btn-gray:hover, .btn-green:hover, .btn-red:hover, .btn-yellow:hover, .btn-cyan:hover, .btn-white:hover, .btn-black:hover, .btn-pink:hover, .btn-orange:hover, .btn-purple:hover, .btn-lemon:hover {
  opacity: 0.7;
}

.opac-8 {
  opacity: 0.8;
}

.opac-9 {
  opacity: 0.9;
}

.opac-10 {
  opacity: 1;
}

.display-b {
  display: block;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.display-t {
  display: table;
}

.display-n {
  display: none;
}

.pos-rel {
  position: relative;
}

.pos-sti {
  position: sticky;
}

.pos-fix {
  position: fixed;
}

.pos-abs {
  position: absolute;
}

body {
  margin: 0;
  direction: ltr;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.clearfix {
  clear: both;
}

.float-right, .floating-box a, .floating-box button {
  float: right;
}

.float-left {
  float: left;
}

.txt-blue {
  color: #007bff;
}

.bg-blue {
  background-color: #007bff;
}

.link-blue {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}
.link-blue:hover {
  text-decoration-color: #007bff;
  text-decoration-line: underline;
}

.outl-blue {
  border: 3px solid #007bff;
  color: #007bff;
}

.all-blue {
  background-color: #007bff;
  border: 3px solid #007bff;
}

.txt-gray {
  color: #6c757d;
}

.bg-gray {
  background-color: #6c757d;
}

.link-gray {
  color: #6c757d;
  text-decoration: none;
  cursor: pointer;
}
.link-gray:hover {
  text-decoration-color: #6c757d;
  text-decoration-line: underline;
}

.outl-gray {
  border: 3px solid #6c757d;
  color: #6c757d;
}

.all-gray {
  background-color: #6c757d;
  border: 3px solid #6c757d;
}

.txt-green {
  color: #28a745;
}

.bg-green {
  background-color: #28a745;
}

.link-green {
  color: #28a745;
  text-decoration: none;
  cursor: pointer;
}
.link-green:hover {
  text-decoration-color: #28a745;
  text-decoration-line: underline;
}

.outl-green {
  border: 3px solid #28a745;
  color: #28a745;
}

.all-green {
  background-color: #28a745;
  border: 3px solid #28a745;
}

.txt-red {
  color: #dc3545;
}

.bg-red {
  background-color: #dc3545;
}

.link-red {
  color: #dc3545;
  text-decoration: none;
  cursor: pointer;
}
.link-red:hover {
  text-decoration-color: #dc3545;
  text-decoration-line: underline;
}

.outl-red {
  border: 3px solid #dc3545;
  color: #dc3545;
}

.all-red {
  background-color: #dc3545;
  border: 3px solid #dc3545;
}

.txt-yellow {
  color: #ffc107;
}

.bg-yellow {
  background-color: #ffc107;
}

.link-yellow {
  color: #ffc107;
  text-decoration: none;
  cursor: pointer;
}
.link-yellow:hover {
  text-decoration-color: #ffc107;
  text-decoration-line: underline;
}

.outl-yellow {
  border: 3px solid #ffc107;
  color: #ffc107;
}

.all-yellow {
  background-color: #ffc107;
  border: 3px solid #ffc107;
}

.txt-cyan {
  color: #17a2b8;
}

.bg-cyan {
  background-color: #17a2b8;
}

.link-cyan {
  color: #17a2b8;
  text-decoration: none;
  cursor: pointer;
}
.link-cyan:hover {
  text-decoration-color: #17a2b8;
  text-decoration-line: underline;
}

.outl-cyan {
  border: 3px solid #17a2b8;
  color: #17a2b8;
}

.all-cyan {
  background-color: #17a2b8;
  border: 3px solid #17a2b8;
}

.txt-white {
  color: #f8f9fa;
}

.bg-white {
  background-color: #f8f9fa;
}

.link-white {
  color: #f8f9fa;
  text-decoration: none;
  cursor: pointer;
}
.link-white:hover {
  text-decoration-color: #f8f9fa;
  text-decoration-line: underline;
}

.outl-white {
  border: 3px solid #f8f9fa;
  color: #f8f9fa;
}

.all-white {
  background-color: #f8f9fa;
  border: 3px solid #f8f9fa;
}

.txt-black {
  color: #343a40;
}

.bg-black {
  background-color: #343a40;
}

.link-black {
  color: #343a40;
  text-decoration: none;
  cursor: pointer;
}
.link-black:hover {
  text-decoration-color: #343a40;
  text-decoration-line: underline;
}

.outl-black {
  border: 3px solid #343a40;
  color: #343a40;
}

.all-black {
  background-color: #343a40;
  border: 3px solid #343a40;
}

.txt-pink {
  color: #c6538c;
}

.bg-pink {
  background-color: #c6538c;
}

.link-pink {
  color: #c6538c;
  text-decoration: none;
  cursor: pointer;
}
.link-pink:hover {
  text-decoration-color: #c6538c;
  text-decoration-line: underline;
}

.outl-pink {
  border: 3px solid #c6538c;
  color: #c6538c;
}

.all-pink {
  background-color: #c6538c;
  border: 3px solid #c6538c;
}

.txt-orange {
  color: #F38630;
}

.bg-orange {
  background-color: #F38630;
}

.link-orange {
  color: #F38630;
  text-decoration: none;
  cursor: pointer;
}
.link-orange:hover {
  text-decoration-color: #F38630;
  text-decoration-line: underline;
}

.outl-orange {
  border: 3px solid #F38630;
  color: #F38630;
}

.all-orange {
  background-color: #F38630;
  border: 3px solid #F38630;
}

.txt-purple {
  color: #9B539C;
}

.bg-purple {
  background-color: #9B539C;
}

.link-purple {
  color: #9B539C;
  text-decoration: none;
  cursor: pointer;
}
.link-purple:hover {
  text-decoration-color: #9B539C;
  text-decoration-line: underline;
}

.outl-purple {
  border: 3px solid #9B539C;
  color: #9B539C;
}

.all-purple {
  background-color: #9B539C;
  border: 3px solid #9B539C;
}

.txt-lemon {
  color: #B1EB00;
}

.bg-lemon {
  background-color: #B1EB00;
}

.link-lemon {
  color: #B1EB00;
  text-decoration: none;
  cursor: pointer;
}
.link-lemon:hover {
  text-decoration-color: #B1EB00;
  text-decoration-line: underline;
}

.outl-lemon {
  border: 3px solid #B1EB00;
  color: #B1EB00;
}

.all-lemon {
  background-color: #B1EB00;
  border: 3px solid #B1EB00;
}

.btn, .btn-blue, .btn-blue-outl, .btn-gray, .btn-gray-outl, .btn-green, .btn-green-outl, .btn-red, .btn-red-outl, .btn-yellow, .btn-yellow-outl, .btn-cyan, .btn-cyan-outl, .btn-white, .btn-white-outl, .btn-black, .btn-black-outl, .btn-pink, .btn-pink-outl, .btn-orange, .btn-orange-outl, .btn-purple, .btn-purple-outl, .btn-lemon, .btn-lemon-outl {
  margin: 2px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s;
}

.btn-blue {
  background-color: #007bff;
  border: solid 2px #007bff;
}

.btn-blue-outl {
  color: #007bff;
  background: transparent;
  border: solid 1px #007bff;
}
.btn-blue-outl:hover {
  background-color: #007bff;
  color: #f8f9fa;
}

.btn-gray {
  background-color: #6c757d;
  border: solid 2px #6c757d;
}

.btn-gray-outl {
  color: #6c757d;
  background: transparent;
  border: solid 1px #6c757d;
}
.btn-gray-outl:hover {
  background-color: #6c757d;
  color: #f8f9fa;
}

.btn-green {
  background-color: #28a745;
  border: solid 2px #28a745;
}

.btn-green-outl {
  color: #28a745;
  background: transparent;
  border: solid 1px #28a745;
}
.btn-green-outl:hover {
  background-color: #28a745;
  color: #f8f9fa;
}

.btn-red {
  background-color: #dc3545;
  border: solid 2px #dc3545;
}

.btn-red-outl {
  color: #dc3545;
  background: transparent;
  border: solid 1px #dc3545;
}
.btn-red-outl:hover {
  background-color: #dc3545;
  color: #f8f9fa;
}

.btn-yellow {
  background-color: #ffc107;
  border: solid 2px #ffc107;
}

.btn-yellow-outl {
  color: #ffc107;
  background: transparent;
  border: solid 1px #ffc107;
}
.btn-yellow-outl:hover {
  background-color: #ffc107;
  color: #f8f9fa;
}

.btn-cyan {
  background-color: #17a2b8;
  border: solid 2px #17a2b8;
}

.btn-cyan-outl {
  color: #17a2b8;
  background: transparent;
  border: solid 1px #17a2b8;
}
.btn-cyan-outl:hover {
  background-color: #17a2b8;
  color: #f8f9fa;
}

.btn-white {
  background-color: #f8f9fa;
  border: solid 2px #f8f9fa;
}

.btn-white-outl {
  color: #f8f9fa;
  background: transparent;
  border: solid 1px #f8f9fa;
}
.btn-white-outl:hover {
  background-color: #f8f9fa;
  color: #343a40;
}

.btn-black {
  background-color: #343a40;
  border: solid 2px #343a40;
}

.btn-black-outl {
  color: #343a40;
  background: transparent;
  border: solid 1px #343a40;
}
.btn-black-outl:hover {
  background-color: #343a40;
  color: #f8f9fa;
}

.btn-pink {
  background-color: #c6538c;
  border: solid 2px #c6538c;
}

.btn-pink-outl {
  color: #c6538c;
  background: transparent;
  border: solid 1px #c6538c;
}
.btn-pink-outl:hover {
  background-color: #c6538c;
  color: #f8f9fa;
}

.btn-orange {
  background-color: #F38630;
  border: solid 2px #F38630;
}

.btn-orange-outl {
  color: #F38630;
  background: transparent;
  border: solid 1px #F38630;
}
.btn-orange-outl:hover {
  background-color: #F38630;
  color: #f8f9fa;
}

.btn-purple {
  background-color: #9B539C;
  border: solid 2px #9B539C;
}

.btn-purple-outl {
  color: #9B539C;
  background: transparent;
  border: solid 1px #9B539C;
}
.btn-purple-outl:hover {
  background-color: #9B539C;
  color: #f8f9fa;
}

.btn-lemon {
  background-color: #B1EB00;
  border: solid 2px #B1EB00;
}

.btn-lemon-outl {
  color: #B1EB00;
  background: transparent;
  border: solid 1px #B1EB00;
}
.btn-lemon-outl:hover {
  background-color: #B1EB00;
  color: #f8f9fa;
}

.input {
  font-size: 1rem;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  border: solid 1px;
}

.i-white {
  border-color: #6c757d;
  color: #343a40;
}

.i-black {
  border-color: #343a40;
  background-color: #6c757d;
  color: #f8f9fa;
}

.floating-box.fb-center {
  margin: 10px auto;
}

.floating-box {
  max-width: 60%;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
}
.floating-box .title, .floating-box .body {
  margin-bottom: 15px;
}

.floating-box-p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.links-box {
  padding: 15px 10px;
  font-size: 18px;
  margin: 10px;
  border-radius: 5px;
  border: solid 0.5px;
  text-align: left;
  direction: ltr;
}
.links-box .link {
  float: left;
}
.links-box .link a {
  margin: 0 15px;
}
.links-box .link:after {
  content: " / ";
}
.links-box .current {
  margin: 0 15px;
}

.links-box-white {
  background-color: #f8f9fa;
  border-color: #6c757d;
  color: #6c757d;
}

.links-box-black {
  background-color: #343a40;
  border-color: #6c757d;
  color: #f8f9fa;
}

/*# sourceMappingURL=mw.css.map */
