.btn{
  margin: 2px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s;
}

@each $cname, $color in $colors{
  .btn-#{$cname}{
    @extend .btn;
    background-color: $color;
    border: solid 2px $color;
    &:hover{
      @extend .opac-7;
    }
  }
  .btn-#{$cname}-outl{
    @extend .btn;
    color: $color;
    background: transparent;
    border: solid 1px $color;
    &:hover{
      background-color: $color;
      @if $cname == white{
        color: $black;
      } @else {
        color: $white;
      }
    }
  }
}