@each $color, $value in $colors{

  .txt-#{$color}{
    color: $value;
  }

  .bg-#{$color}{
    background-color: $value;
  }

  .link-#{$color}{
    color: $value;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      text-decoration-color: $value;
      text-decoration-line: underline;
    }
  }

  .outl-#{$color}{
    border: 3px solid $value;
    color: $value;
  }

  .all-#{$color}{
    background-color: $value;
    border: 3px solid $value;
  }

}