// Start Normal Inputs

.input{
  font-size: 1rem;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  border: solid 1px;
}

.i-white{
  border-color: $gray;
  color: $black;
}

.i-black{
  border-color: $black;
  background-color: $gray;
  color: $white;
}

// End Normal Inputs