// Start Configuration

$dir: ltr;

$right: right;
$left: left;
$rtl: rtl;
$ltr: ltr;

@if $dir == rtl {
  $right: left;
  $left: right;

  $rtl: ltr;
  $ltr: rtl;
}

// End Configuration


// Start Colors

$blue: #007bff;
$gray: #6c757d;
$green: #28a745;
$red: #dc3545;
$yellow: #ffc107;
$cyan: #17a2b8;
$white: #f8f9fa;
$black: #343a40;
$pink: #c6538c;
$orange: #F38630;
$purple: #9B539C;
$lemon: #B1EB00;
$colors:(blue, $blue),
        (gray, $gray),
        (green, $green),
        (red, $red),
        (yellow, $yellow),
        (cyan, $cyan),
        (white, $white),
        (black, $black),
        (pink, $pink),
        (orange, $orange),
        (purple, $purple),
        (lemon, $lemon);

// End Colors


// Start Fonts

$fonts: (ubunto, 'ubunto.ttf'),
        (tajawal, 'tajawal.ttf'),
        (sspro, 'SourceSansPro.otf'),
        (ptsans, 'PTSans.ttf'),
        (opensans, 'OpenSans.ttf'),
        (notosans, 'NotoSans.ttf'),
        (montserrat, 'montserrat.otf'),
        (lalezar, 'lalezar.ttf'),
        (germaniaone, 'GermaniaOne.ttf'),
        (lato 'lato.ttf'),
        (baloo, 'baloo.ttf'),
        (cairo, 'cairo.ttf');

@each $name, $font in $fonts{

  @font-face{
    font-family: $name;
    src: url('../fonts/#{$font}');
  }

  .font-#{$name}{
    font-family: $name;
  }

}

// End Fonts


// Start Headings

$headings:(1, 2em),
          (2, 1.5em),
          (3, 1.17em),
          (4, 1em),
          (5, 0.83em),
          (6, 0.67em);
@each $nu, $size in $headings{
  .h#{$nu}{
      font-size: $size;
  }
}

// End Headings


// Start Margins, Paddings

$i: 0;

@while $i <= 250{

  .marg-#{$i}{
    margin: $i#{'px'};
  }

  .padd-#{$i}{
    padding: $i#{'px'};
  }

  $i: $i + 10;
}

// End Margins, Paddings


// Start Opacity

$i: 0;

@while $i <= 10{

  .opac-#{$i}{
    @if $i == 10 {
      opacity: 1;
    } @else {
      opacity: #{'0.'}$i;
    }
  }
  $i: $i + 1;
}

// End Opacity


// Start Displays

$displays: (b, block),
           (i, inline),
           (i-b, inline-block),
           (t, table),
           (n, none);

@each $dname, $dvalue in $displays{
  .display-#{$dname}{
    display: $dvalue;
  }
}

// End Displays


// Start Positions

$positions: (rel, relative),
            (sti, sticky),
            (fix, fixed),
            (abs, absolute);

@each $pname, $pvalue in $positions{
  .pos-#{$pname}{
    position: $pvalue;
  }
}

// End Positions


//Start Main

*{
  @if $dir == 'ltr'{
    @extend .font-ubunto;
  } @else{
    @extend .font-cairo;
  }
}
body{
  margin: 0;
  direction: $dir;
}

.txt-center{
  text-align: center;
}
.txt-left{
  text-align: $left;
}
.txt-right{
  text-align: $right;
}

.clearfix{
  clear: both;
}
.float-right{
  float: $right;
}
.float-left{
  float: $left;
}

// End Main


//Files

@import 'colors';

@import 'btn';

@import 'inputs';

@import 'fbox';
@import 'lbox';