
<meta charset="utf-8"/>
<meta name="description" content="MW.CSS Oficial Website... MW is a free css framework and easy to use..."/>
<meta name="keywords" content="HTML,CSS,MW,.CSS,Bootstrap,PUGjs"/>
<meta name="author" content="Mohammed Waleed"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="css/all.min.css"/>
<link rel="stylesheet" href="css/mw.css"/>
<link rel="stylesheet" href="css/style.css"/>
<link rel="icon" href="images/favicon.ico"/>