
<nav class="navbar navbar-b" style="margin-bottom: 20px;">
  <button class="btn btn-gray col-button" onclick="navdp('nav1');">+</button>
  <div class="brand"><img src="images/logo.png" width="50" height="50" style="float: left;"/><span class="clearfix"></span>MW.CSS</div>
  <div class="navcontent" data-id="nav1">
    <ul class="links">
      <li class="link"><a href="index.html">Home</a></li>
      <li id="news"><a href="news.php">News</a></li>
      <li class="navdropdown"><a href="#" onclick="dropdown('navdropdown-2');">Documentation</a>
        <ul class="dp-links" data-id="navdropdown-2">
          <li class="dp-link"><a href="doc.html">Documentation</a></li>
          <li class="dp-link"><a href="doc.html#colors">Colors</a></li>
          <li class="dp-link"><a href="doc.html#grid">Grid System</a></li>
          <li class="dp-link"><a href="doc.html#displays">Displays</a></li>
          <li class="dp-link"><a href="doc.html#msg">Msg and Alerts</a></li>
          <li class="dp-link"><a href="doc.html#badge">Badges</a></li>
          <li class="dp-link"><a href="doc.html#breadcrumb">Breadcrumb</a></li>
          <li class="dp-link"><a href="doc.html#btn">Buttons</a></li>
          <li class="dp-link"><a href="doc.html#btngroup">Button Group</a></li>
          <li class="dp-link"><a href="doc.html#card">Card</a></li>
          <li class="dp-link"><a href="doc.html#coll">Collapse</a></li>
          <li class="dp-link"><a href="doc.html#dropds">Dropdowns</a></li>
          <li class="dp-link"><a href="doc.html#form">Forms</a></li>
          <li class="dp-link"><a href="doc.html#igroup">Input Group</a></li>
          <li class="dp-link"><a href="doc.html#post">Posts And Articles</a></li>
          <li class="dp-link"><a href="doc.html#nav">Navbar</a></li>
          <li class="dp-link"><a href="doc.html#pagination">Pagination</a></li>
          <li class="dp-link"><a href="doc.html#tip">Tip</a></li>
        </ul>
      </li>
      <li id="news"><a href="report.html#vote">Vote</a></li>
      <li class="link"><a href="report.html">Report</a></li>
      <li class="link"><a href="about.html">About us</a></li>
    </ul>
  </div>
  <div class="clearfix"></div>
</nav>