nav(class="navbar navbar-b" style="margin-bottom: 20px;")
  button(class="btn btn-gray col-button" onclick="navdp('nav1');") +
  div.brand
    img(src="images/logo.png" width="50" height="50" style="float: left;")
    span.clearfix
    | MW.CSS
  div(class="navcontent" data-id="nav1")
    ul.links
    
      case active
        when 'home'
          li.active
            a(href="index.html") Home
        default
          li.link
            a(href="index.html") Home
            
      li(id="news")
            a(href="news.php") News
                
      li.navdropdown
            a(href="#" onclick="dropdown('navdropdown-2');") Documentation
            ul(class="dp-links" data-id="navdropdown-2")
              - var comps = {'Documentation': 'doc.html', 'Colors': 'doc.html#colors', 'Grid System': 'doc.html#grid', 'Displays': 'doc.html#displays', 'Msg and Alerts': 'doc.html#msg', 'Badges': 'doc.html#badge', 'Breadcrumb': 'doc.html#breadcrumb', 'Buttons': 'doc.html#btn', 'Button Group': 'doc.html#btngroup', 'Card': 'doc.html#card', 'Collapse': 'doc.html#coll', 'Dropdowns': 'doc.html#dropds', 'Forms': 'doc.html#form', 'Input Group': 'doc.html#igroup', 'Posts And Articles': 'doc.html#post', 'Navbar': 'doc.html#nav', 'Pagination': 'doc.html#pagination', 'Tip': 'doc.html#tip'}
              each link, comp in comps
                li.dp-link
                  a(href=link)= comp
                  
      li(id="news")
            a(href="report.html#vote") Vote
        
      case active
        when 'report'
          li.active
            a(href="report.html") Report
        default
          li.link
            a(href="report.html") Report
        
      case active
        when 'about'
          li.active
            a(href="about.html") About us
        default
          li.link
            a(href="about.html") About us
            
    //-
      div.otherside
        ul.links
          li.navdropdown
              a(href="#" onclick="dropdown('navdropdown-1');") 1.0 Beta
              ul(class="dp-links" data-id="navdropdown-1")
                  li.dp-link
                    a(href="#") Soon
  div.clearfix